/* base */
header {
  display: block;
}
li, ol, ul {
  list-style: none;
}
div {
  display: block;
}
a {
  text-decoration: none;
}

/* header */
.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-logo {
  width: 100px;
}
.header-nav {
  position: relative;
  display: flex;
  background-color: palevioletred;
  align-items: center;
  justify-content: center;
  width: 990px;
  height: 66px;
  margin: 0 auto;
  /* モディファイア？ */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
.header-nav__category-list>li+li, .header-nav__etc-list>li+li {
  margin-left: 20px;
}
.header-nav__category-list>li+li:first-of-type {
  margin-left: 0px;
}
.header-nav__category-list, .header-nav__etc-list {
  display: flex;
}
.header-nav__item {
  display: inline-block;
  color: #fff;
}
.header-nav__etc-list {
  display: flex;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #fff;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(255, 255, 255);
}
/* 上コンテンツ */
.top_warpeer {
  width: 900px;
  display: flex;
  /* position: relative; */
  justify-content: center;
  margin: 0 auto;
}
.pickup-img {
  width: 450px;
}
.pickup-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* flex: 1; */
  padding: 0 48px 0 40px;
  background: #fff;
}
.pickup-heading {
  color: palevioletred;
  font-size: 18px;
  font-weight: 700;  
}
.pickup-title {
  margin-top: 12px;
  font-size: 30px;
}
.pickup-description {
  display: flex;
  margin-top: 16px;
  color: #767676;
  font-size: 14px;
}
/* mainコンテンツ */